.content-container{
    display: flex;
}
.content-container__box{
    display: flex;
    background: red;
    height: 400px;
    width: 100%;
    overflow: auto;
}
.content-container__box-list{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    background: green;
}
.content-container__box-list h3{
    font-weight: 300;
}
.content-container__image{
    width: 100px;
    height: 100px;
}