<div [ngClass]="activeValue$ ? 'content-container-active' : 'content-container'">
  <div class="product-list">
    <div class="content-container__box-list" *ngFor="let item of productFilter" (mouseenter)="showButtons(item)"
      (mouseleave)="hideButtons()">
      <div class="product-box">
        <div class="product-box__topInfo">
          <img [src]="item.image" alt="Product Image" />
          <p>{{ item.title }}</p>
          <p> last {{item.rating.count}} pieces</p>
          <p class="product-box__topInfo-price"> {{item.price}} $ </p>
        </div>
      </div>
      <button class=" product-add-button" (click)="addToBasket(item.id)"
        *ngIf="item.showButtons && !isItemInBasket(item.id)">
        <p>Add to basket</p>
      </button>
      <button class="product-remove-button" (click)="removeFromBasket(item.id)"
        *ngIf="item.showButtons && isItemInBasket(item.id)">
        <p>Remove from basket</p>
      </button>
    </div>
  </div>
</div>