<div *ngIf="activeValue$" class="container-basket">
  <div class="container-basket__top">
  </div>
  <div class="container-basket__box">
    <div class="basket-modal__box">
      <div class="basket-modal__list">
        <div *ngIf="products$.length === 0" class="basket-empty">
          Your cart is empty
        </div>
        <div class="basket-item" *ngFor="let item of products$">
          <h3>{{ item.title }}</h3>
          <div class="basket-modal__products">
            <div class="basket-modal__products-image">
              <img [src]="item.image" alt="Product Image" class="basket-item__image" />
            </div>
            <div class="basket-modal__products-info">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="basket__total-price">
      <h3>Subtotal:</h3>
    </div>
  </div>
</div>
