<div *ngIf="activeValue$" class="container-basket">
  <div class="container-basket__top">
  </div>
  <div class="container-basket__box">
    <div class="basket-modal__box">
      <div class="basket-modal__list">
        <div *ngIf="products$.length === 0" class="basket-empty">
          Your cart is empty
        </div>
        <div class="basket-item" *ngFor="let item of products$">
          <div class="basket-modal__products">
            <div class="basket-modal__products-image">
              <img [src]="item.image" alt="Product Image" class="basket-item__image" />
            </div>
            <div class="basket-modal__products-info">
              <p>{{ item.title }}</p>
              <p>Pieces: {{ item.count || 1 }}</p>
              <p> {{ item.price }} </p>
              <input type="number"   [(ngModel)]="item.count" (ngModelChange)="updateItemCount(item)" min="1" />
              <div *ngIf="item.count > item.rating.count" class="error-message">
                <p class="error-message__p">Quantity entered exceeds stock quantity!</p>
              </div>
            </div>
            <i class="fa-solid fa-trash header__icon" (click)="removeFromBasket(item)"></i> 
          </div>
        </div>
      </div>
    </div>
    <div class="basket__total-price">
      <h3>Subtotal: </h3>
      <h3>{{ calculateTotalPrice() }} $</h3>
    </div>
  </div>
</div>
