<div class="container-basket">
    <div class="container-basket__top">
    </div>
    <div class="container-basket__box">
        <div class="basket-modal__box">
            <div class="basket-modal__list">
              <div class="basket-modal__products">
                <div class="basket-modal__products-image">
                </div>
                <div class="basket-modal__products-info">
                </div>
              </div>
            </div>
        </div>
        <p class="basket-empty">Your cart is empty</p>
    </div>
    <div class="basket__total-price">
      <h3>Subtotal:</h3>
    </div>
  </div>
  